
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        BigButton.me
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel="stylesheet" href="~/css/HomeIndex.css?@DateTime.Now.Ticks">
    <script type="text/javascript" src="~/js/HomeIndex.js?@DateTime.Now.Ticks"></script>
</head>

<body onload="body_onload();">
    <div class="main-div">

        <h3>Find My Home Page</h3>
        <b>paypal.me/</b>
        <input id="ppinput" type="text" class="paypal-handle-input" />
        <br />
        <button onclick="findPage();" class="paypal-button">GO</button>


    </div>
</body>
</html>