
@model UserView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        BigButton.me
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel="stylesheet" href="~/css/HomeUser.css?@DateTime.Now.Ticks">
    <script type="text/javascript" src="~/js/HomeUser.js?@DateTime.Now.Ticks"></script>
    <script>
        let UserName = "@Model.UserName";
        let PayeeName = "@Model.PayeeName";
    </script>
</head>

<body onload="body_onload();">
    <div class="main-div">
        
        <a href="https://paypal.me/@Model.NextPayeeName" target="_blank">
            <img src="~/img/pp02.png" class="ppbutton" />
        </a>

        <p>
            <b>@Model.UserName.ToUpper():</b> this is your PayPal.me button so
            bookmark this page or add it to your home screen for easier access.
            You will want to <b>visit and share this page often.</b>
        </p>
        <p>
            <b>Just Visiting?</b> You can have a <b>Big Button</b> like mine for only <b>$@Model.GiftAmount</b>,
            and set yourself up for <b>nearly unlimited PASSIVE earnings!!</b>
        </p>
        <p>
            <b>Here is How</b>
        </p>
        <ul>
            <li><b>FACT:</b> Any <b>Big Button</b> sale may generate new sales.</li>
            <li><b>You are paid $@Model.GiftAmount</b> for each <b>big button</b> you sell <b>starting with your third (3rd)</b>.</li>
            <li><b>Any sale you are paid for</b> can generate two (2) new sales that you also get paid for.</li>
            <li><b>Picture This: </b></li>
        </ul>

        <p class="with-border">
            <b>&nbsp; $<span id="base"></span> + $<span id="doubler"></span> = $<span id="total"></span></b>
        </p>
        <p>
            <b>Here Is How To Get Started</b>
        </p>

        <ol>
            <li>Click on the Big PayPal Button.</li>
            <li>Use PayPal.me to send $10 to whoever shows up there.</li>
            <li>Check your email for your PayPal receipt.</li>
            <li>
                Copy the Transaction ID and paste it here:
                <input id="transid_input" type="text" class="transid-handle-input" />
                <button onclick="AddNewUser(this);" class="transid-button">GO</button>

            </li>
            <li>Click "GO".</li>
            <li>Your new page will appear.</li>
            <li>Enter Your PayPal.me name there so we can create your <b>Big Button</b></li>
            <li>Your <b>Big Button</b> will appear.</li>
            <li>Use your button to generate at least three (3) new sales.</li>
            <li>Wait</li>
        </ol>

    </div>
</body>
</html>
