
@model UserView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        BigButton.me
    </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">
    <link rel="stylesheet" href="~/css/site.css?@DateTime.Now.Ticks">
    <script type="text/javascript" src="~/js/User.js?@DateTime.Now.Ticks"></script>
    <script>
        let UserName = "@Model.UserName";
        let PayeeName = "@Model.PayeeName";
    </script>
</head>

<body onload="body_onload();">
    <div class="main-div">

        <a href="https://paypal.me/@Model.UserName" target="_blank">
            <div class="button-div">
                <img src="@Model.ImageUrl" class="button-image " />
                <div class="button-text">@Model.ButtonText</div>
            </div>
        </a>

        <p>
            <b>Check Out My Big Button</b>
            <ul>
                <li><b>It's Customizable</b></li>
                <li>It Opens to <b>MY</b> PayPal.me page.</li>
                <li><b>And It's a Little Money Maker Too!</b></li>
            </ul>
        </p>

        <p class="with-border">
            <b>&nbsp; $<span id="base"></span> + $<span id="doubler"></span> = $<span id="total"></span></b>
        </p>
        <br />
        <p>
            <b>Our Amazing Affiliate Program</b>
            <ul>
                <li>You need a <b>PayPal.me Link</b> to Participate.</li>
                <li>
                    <a href="https://paypal.me/" target="_blank" class="button-anchor"><b>Click Here</b></a>
                    to set one up for <b>Free</b>.
                </li>
                <li>You need a <b>Big Button</b> to Demo.</li>
                <li>
                    <a href="https://paypal.me/@Model.NextPayeeName/@Model.GiftAmount" target="_blank" class="button-anchor"><b>Click Here</b></a>
                    to buy one for only <b>$@Model.GiftAmount</b>.
                </li>
                <li>PayPal will email you a receipt.</li>
                <li>
                    Find the <b>Transaction ID</b> and paste it below.
                    <br />
                    <input id="transid_input" type="text" class="paypal-handle-input2" />
                    <button onclick="validate();" class="paypal-button">GO</button>
                </li>
                <li>Enter your PayPal.me link when prompted.</li>
                <li>
                    <a href="/home/customize/@Model.UserName"  
                       target="_self" 
                       class="button-anchor"><b>Customize</b></a>
                    your new <b>Big Button</b>.
                </li>
                <li><b>Now Show it off and generate some sales!</b></li>
                <li>Earn <b>$@Model.GiftAmount</b> for sales <b>2, 4, 6, 8 . . .</b>and so on.</li>
                <li><b>Those sales</b> may result in <b>new sales</b>.</li>
                <li><b>Those sales</b> may result in <b>new sales</b>.</li>
                <li><b>Those sales</b> may result in <b>new sales</b>.</li>
                <li><b>And so on . . .</b></li>
                <li>You Earn <b>$@Model.GiftAmount</b> for all of <b>your odd</b> numbered <b>non-personal sales!!!</b></li>
                <li><b>Anyone with a PayPal.me link and a Big Button can participate, so get yours now.</b></li>
            </ul>
        </p>
                     
    </div>
</body>
</html>
