
html, body {
    padding-left: 10px;
    padding-right: 20px;
    padding-top:10px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.main-div {
    width: 100%;
    max-width: 354px;
    padding-bottom: 50px;
}

.text-block {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 18px #888888;
    border:3px solid transparent;
}

.color-one {
    background-color: #EA4335;
    color: white
}

.color-one-hoverable {
    background-color: #EA4335;
    color: white
}

    .color-one-hoverable:hover {
        background-color: white;
        color: #EA4335;
        border:3px solid #EA4335;
    }

.color-two {
    background-color: #34A853;
    color: white
}

.color-two-hoverable {
    background-color: #34A853;
    color: white
}

    .color-two-hoverable:hover {
        background-color: white;
        color: darkgreen;
        max-width: 354px;
        border: 3px solid #34A853;
    }

.color-three {
    background-color: #4285F4;
    color: white
}

.color-three-hoverable {
    background-color: #4285F4;
    color: white
}

    .color-three-hoverable:hover {
        background-color: white;
        color: #34A853;
        max-width: 354px;
        border: 3px solid #4285F4;
    }


.color-four {
    background-color: #FBBC05;
    color: black
}

.color-four-hoverable {
    background-color: #FBBC05;
    color: black
}

    .color-four-hoverable:hover {
        background-color: black;
        color: #FBBC05;
        max-width: 354px;
        border: 3px solid #FBBC05;
    }

.stats-table {
    border-collapse: collapse;
    border: 2px solid #fff;
    width: 100%;
}

td {
    border: 1px dashed #fff;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stats-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.stats-col-headings {
    font-size: 20px;
    font-weight: 400;
}

.stats-col1 {
    width: 20%;
}

.stats-col2 {
}

.stats-col3 {
    width: 20%;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

p, ol {
    font-weight: 200;
}

ol {
    margin-top: 0;
    margin-bottom: 3px;
    line-height: 30px;
}

.centered {
    text-align: center;
}

.black-link {
    color: black;
}

.white-link {
    color: white;
    font-weight: bold;
}


.test-button {
    border-radius:20px;
    height:100%;
}

.test-button:hover{
    cursor:pointer;
}

.paypal-lable{
    line-height:30px;
}

.paypal-handle-input {
    width:200px;
    border: none;
    background-color: moccasin;
    color: black;
    padding: 5px;
}

p{line-height:25px;}


.burger-button-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-collapse: collapse;
    border: none;
}


.burger-button-cell-img {
    border: none;
    text-align: center;
    width: 120px
}

.burger-button-cell-text {
    border: none;
    text-align: center;
    font-size: 20px;
    line-height:10px;
    font-weight: bold;
}

.burger-button-image {
    width: 100%;
    height: 70px;
}
