
html, body {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 300;
}

.main-div {
    width: 100%;
    max-width: 354px;
    padding-bottom: 50px;
}

.box-shadow-container{
    box-shadow: 5px 10px 18px #888888;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    background-color:#FF0000;
    color: white;
    margin-bottom: 30px;
    border: 2px solid transparent;
    font-weight:bold;
}

td {
    border: 1px dashed white;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stats-title {
    text-align: center;
    font-size: 30px;
}

.stats-col-headings {
    font-size: 20px;
}

.stats-col1 {
    width: 20%;
}

.stats-col2 {
}

.stats-col3 {
    width: 20%;
}

h3 {
    font-family: 'Titillium Web',serif;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 4px 4px 4px #aaa;
}

p {
    margin-top: 10px;
    margin-left: 10px;
    text-align: justify;
}

    p.with-border {
        border: 2px dashed black;
        padding: 10px;
    }

    p.para-heading {
        font-weight: bold;
        margin-bottom: -10px;
    }

.test-button {
    border-radius: 20px;
    height: 100%;
}

    .test-button:hover {
        cursor: pointer;
    }

.paypal-lable {
    line-height: 30px;
}

.paypal-handle-input {
    width: 175px;
    border: none;
    background-color: transparent`;
    color: black;
    padding: 5px;
    font-weight:bold;
}

.centered{
    text-align:center;
}

.images{
    margin-top:20px;
    width:100%;
}